html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

h1 {
    font-size: 36px;
    text-align: center;
    font-weight: bolder;
}

h3 {
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

div img {
    width: 350px;
    height: 350px;
    border-radius: 15px;
}

.heading {
    font-size: 60px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.recipes {
    text-align: center;
    align-items: center;
    font-size: 24px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.recipes img:hover {
    transform: scale(1.05);
    transition: all ease;
    border-radius: 15px;
}

.recipe-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 420px;
    height: 853px;
    padding-left: 30px;
}

.recipe-img {
    width: 420px;
    height: 420px;
}

.right-top {
    border-radius: 10px;
    border: 1px solid rgb(41, 41, 41);
    padding: 20px;
    height: 250px;
}

.steps {
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgb(71, 71, 71);
    padding: 20px;
    height: 500px;
    line-height: 1.5;
}

.ingredients {
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    border: 1px solid rgb(240, 240, 240);
    padding: 20px;
    flex-grow: 1;
    line-height: 1.5;
}